apiVersion: sandbox.fast.io/v1alpha1
kind: SandboxPool
metadata:
  name: test-sandbox-pool
  namespace: default
spec:
  capacity:
    poolMin: 2
    poolMax: 5
    bufferMin: 1
    bufferMax: 3
  agentTemplate:
    metadata:
      labels:
        app: sandbox-agent
    spec:
      serviceAccountName: default
      containers:
        - name: agent
          image: fast-sandbox-agent:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - name: agent-http
              containerPort: 8081
              protocol: TCP
            - name: dlv-debug
              containerPort: 2345
              protocol: TCP
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
      restartPolicy: Always
