apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: sandboxes.sandbox.fast.io
spec:
  group: sandbox.fast.io
  names:
    kind: Sandbox
    listKind: SandboxList
    plural: sandboxes
    singular: sandbox
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              image: {type: string}
              command: {type: array, items: {type: string}}
              args: {type: array, items: {type: string}}
              poolRef: {type: string}
              expireTime: {type: string, format: date-time}
          status:
            type: object
            properties:
              phase: {type: string}
              assignedPod: {type: string}
              nodeName: {type: string}
              sandboxID: {type: string}
    subresources:
      status: {}
